<div class="row flex-wrap d-flex">
<% rankings.each do |ranking| %>  
<div class="col-md-4 col-sm-6 my-5">
  <% ranking_items(ranking, 3) %>  
  <div class="text-center">
    <h3><%= ranking.title %></h3>
  </div>
  <table class="table table-striped text-center">
    <tbody>
        <tr>
          <% n = 0 %>
          <% m = 0 %>
          <% total_vote = 0 %>
          <% @items.zip(@item_votes) do  |item, item_vote| %>
              <% if total_vote == item_vote %>
                <% m += 1 %>
                <th><%= n %>位</th>
              <% else %>
                <% total_vote = item_vote %>
                <% n += 1 %>
                <th><%= n + m %>位</th>
                <% m = 0 %>
              <% end %>
            <td><%= item.item %></td>
            <td><%= item_vote %>票</td>
        </tr>
          <% end %>
    </tbody>
  </table>
<%= render './rankings/button', ranking: ranking %>
</div>
<% end %>
</div>