<% ranking_items(@ranking, 10) %>  
<div class="text-center">
    <h2><%= @ranking.title %></h2>
</div>

<% if Item.find(Vote.all.pluck(:item_id)).pluck(:ranking_id).include?(@ranking.id) %>
<table class="table table-striped text-center">
    <tbody>
        <tr>
          <% n = 0 %>
          <% m = 0 %>
          <% total_vote = 0 %>
          <% @items.zip(@item_votes) do  |item, item_vote| %>
              <% if total_vote == item_vote %>
                <% m += 1 %>
                <th><%= n %>位</th>
              <% else %>
                <% total_vote = item_vote %>
                <% n += 1 %>
                <th><%= n + m %>位</th>
                <% n += m %>
                <% m = 0 %>
              <% end %>
            <td><%= item.item %></td>
            <td><%= item_vote %>票</td>
        </tr>
          <% end %>
    </tbody>
</table>

<% else %>
<table class="table table-striped text-center">
    <tbody>
        <% @ranking.items.order(:id).each do |item| %>
        <tr>
          <td>-位</td>
          <td><%= item.item %></td>
          <td>0票</td>
        </tr>
        <% end %>
    </tbody>
  </table>
<% end %>

<div class="row d-flex justify-content-around">
<% if logged_in? && vote?(@ranking) %>
<% vote = @votes.find_by(user_id: current_user.id) %>
<%= link_to '再投票', edit_vote_path(vote), class: 'btn btn-primary'%>
<% else %>
<%= link_to '投票', new_vote_path(ranking_id: @ranking.id), class: 'btn btn-primary'%>
<% end %>
<% if current_user == @ranking.user %>
<%= link_to '編集', edit_ranking_path(@ranking), class: 'btn btn-primary'%>
<% end %>
</div>


<div class="mt-5">
<ul class="list-unstyled">
  <% @votes.each do |vote| %>
  <% if comment?(vote) %>
  <% comment_user(vote) %>
    <li class="media mb-3">
      <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to @user.name, user_path(@user) %> 
        </div>
        <div>
          <p><%= vote.comment %></p>
        </div>
      </div>
    </li>
  <% end %>
  <% end %>
</ul>
</div>