<div class="text-center mb-5">
    <h1><%= @ranking.title %></h1>
    <div class="my-3">
      <p>項目から1つ選んで投票できます。</p>
    </div>
</div>

  <%= form_with(model: @vote, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <% @items.each do |item| %>
    <div class="form-group row">
      <div class="col-form-label col-4 offset-3">
        <%= label_tag(:"item_id_#{item.id}", item.item) %>
      </div>
      <div class="col-1 offset-1">
        <%= radio_button_tag(:item_id, item.id) %>  
      </div>
    </div>
    <% end %>
    
    <div class="form-group text-center">
      <div class="col-form-label">
        <%= f.label :comment, 'コメント' %>
      </div>
     <%= f.text_area :comment, class: 'form-control' %>
    </div>
    <div class="form-group text-center">
      <%= hidden_field_tag :ranking_id, @ranking.id %>
      <%= f.submit '投票' %>
    </div>
  <% end %>


   