<div class="text-center">
    <h1><%= @ranking.title %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <td>項目</td>
      <td>選択</td>
    </tr>
  </thead>
  <tbody>
    <%= form_with(model: @vote, local: true) do |f| %>
      <% @items.each do |item| %>
        <tr>
          <td><%= f.label_tag(:item_id, item.item) %></td>
          <td><%= f.radio_button_tag(:item_id, item.id) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
    <%= f.label :comment, 'コメント' %>
    <%= f.text_area :comment %> 
    
    <%= f.submit '投票' %>
          
    <% end %>
